*{
    font-family: sans-serif;
  
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: powderblue;
    @media screen and (max-width:500px){

       align-items: normal;
       margin-top: 100px;

    }

}
.mainContainer{
   
    border-radius: 10px;
    margin: 30px;
    padding: 40px 70px 40px ;
    max-width: 540px;
    background-color:whitesmoke;
    @media screen and (max-width:500px){

        max-width: 270px;
        padding: 15px 55px 20px ;

    }
 
    

}
.toDoHeading{
    display: flex;
    align-items: center;
    justify-content: center;
 
}

img{
    height: 32px;
    width: 32px;
    padding: 10px;
    cursor: pointer;
    
}
input{
    flex: 1;
    border-top-left-radius:20px ;
    border-bottom-left-radius:20px ;
    background-color: wheat;
    border-radius: 10px;
    padding-left: 20px;
    width: 100px;
    
}

.inputCont{
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
   
 
   
}
.addButton{
    padding: 16px 50px;
    background-color: #007bff;
    border: none;
    cursor: pointer;
    color: aliceblue;
    font-weight: bolder;
    border-radius: 40px;
    @media screen and (max-width:500px){

        padding: 16px 30px;
        border-radius: 20px;

    }
}


.listCont{
display: flex;
align-items: center;
justify-content: space-between;




}
input{
    padding: 10px;
    width:250px;
    border: none;
    outline: none;  
    /* This Outline property for focus border become none */
    font-size: larger;
    
    
    
 
}
